/* =========================
   RESET & BASE
========================= */

html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Poppins', Arial, sans-serif;
	color: #333;
	line-height: 1.6;
	background: #fff;
}

.container {
	max-width: 1240px;
	/* maximum width of your content */
	margin-left: auto;
	/* center horizontally */
	margin-right: auto;
	/* center horizontally */
	padding-left: 30px;
	/* inner spacing */
	padding-right: 30px;
	/* inner spacing */
	width: 100%;
	/* allow it to shrink on small screens */
	box-sizing: border-box;
	/* include padding in width */
}